.companyCard::-webkit-scrollbar {
  /* scrollbar-width: none; */
  width: 0.5em;
  background-color: white;
}
.companyCard::-webkit-scrollbar-thumb {
  background-color: #00505033;
}
/* ::-webkit-scrollbar{ 
    width: 0px; 
  }  */
/* ::-moz-scrollbar { 
    width: 5px; 
  }  */
/* ::-webkit-scrollbar
 {
  width: 5px;
} */
