@keyframes load {
  0% {
    background-color: rgb(255 255 255 / 0.6);
    width: 100vw;
  }
  100% {
    background-color: rgb(255 255 255 / 1);
    width: 0vw;
  }
}

.loadingBg {
  background-color: rgb(255 255 255 / 0.6);
  animation: load 4s 50ms 1 normal ease-in-out;
  width: 0vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
}
