.image {
  /* min-width: 30px; */
  /* height: 8px; */
  padding: 0 15px;
  /* object-fit: cover; */
}

.image:last-of-type {
  padding-left: 0;
}

/* .inner {
  position: relative;
  width: 100vw;
  overflow: hidden;
  height: 20px;

} */

/* .wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
} */

.section {
  display: flex;
  gap: 2rem;
  /* align-items: center; */
  animation: swipe 6000ms linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }
  /* 10% {
    transform: translate(-10%);
  }
  20% {
    transform: translate(-20%);
  }
  30% {
    transform: translate(-30%);
  }
  40% {
    transform: translate(-40%);
  }
  50% {
    transform: translate(-50%);
  }
  60% {
    transform: translate(-60%);
  }
  70% {
    transform: translate(-70%);
  }
  80% {
    transform: translate(-80%);
  }

  90% {
    transform: translate(-90%);
  } */

  100% {
    transform: translateX(-100%);
  }
}
